<link href="~/Content/CustomStyle.css" rel="stylesheet" />
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li>
            <a href="@Url.Action("ApplicantInfo", "Applicant")">ApplicantInfo</a>
        </li>
        <li>
            <a href="@Url.Action("AddressInfo", "Address")">AddressInfo</a>
        </li>
       
    </ul>
</nav>

